footer {
    background: #444;
    color: #fff;
    padding: 10px 5px;
    margin-top: 1rem;
    margin-bottom: 0;
  }


  hr.socket {
    margin-top: 2rem;
    border-top: 2px solid #999;
    width: 100%;
  }
  