<footer>
  <div>
    <p class="float-right">
      <a href (click)="goToTop()">Back to top</a>
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus ut aliquid quis voluptatum
        ducimus ullam culpa. Corrupti, ut, ex aspernatur exercitationem sed, fuga minima adipisci
        laborum maxime non iste inventore!</p>
      <strong>Contact Info</strong>
      <p>(888) 888-8888<br>varaprasad0281@gmail.com</p>
      <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <hr class="socket">
    <p class="text-center">&copy; {{year - 1}}-{{year}} IT World, Channel. &middot;
      <a href="#" target="_blank">YouTube</a> &middot;
      <a href="#" target="_blank">GitHub</a>
    </p>
  </div>
</footer>