<section>
  <ul class="nav fixed-top">
    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="./">About</a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./">Performance</a>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="./">Team</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="./">Ranking</a></li>
  </ul>
  <div class="textBox text-white">
    <h2>Cristino Ronaldo</h2>
    <p class="lead">
      Cristiano Ronaldo is a Portuguese professional footballer who plays as a
      forward for Serie A club Juventus and captains the Portugal national team.
      Often considered the best player in the world and widely regarded as one
      of the greatest players of all time, Ronaldo has won five Ballons d'Or and
      four European Golden Shoes, both of which are records for a European
      player. He has won 29 trophies in his career, including six league titles,
      five UEFA Champions Leagues, one UEFA European Championship, and one UEFA
      Nations League.
    </p>
    <button class="btn btn-custome">Learn More</button>
  </div>
  <div class="imgBx">
    <img src="assets/Cristiano-ronaldo_600x600.png" alt="Cristino Ronaldo" />
  </div>
  <ul class="nav fixed-bottom">
    <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Twitter</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Instagram</a></li>
  </ul>
</section>
<div class="social-icons">
  <div class="sci">
    <ul>
      <li>
        <a href=""><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-pinterest"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  <div class="sci2">
    <ul>
      <li>
        <a href=""><i class="fa fa-facebook"></i><span>Facebook</span></a>
      </li>
      <li>
        <a href=""><i class="fa fa-twitter"></i><span>Twitter</span></a>
      </li>
      <li>
        <a href=""><i class="fa fa-google-plus"></i><span>Google-plus</span></a>
      </li>
      <li>
        <a href=""><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram"></i><span>Instagram</span></a>
      </li>
    </ul>
  </div>
</div>
