<div class="container">
  <form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="card mt-3" *ngIf="employee">
      <div class="card-header bg-info text-center">
        <h3>{{ id ? "Edit Employee" : "Create Employee" }}</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="fn"> Full Name </label>
          <input
            id="fn"
            required
            type="text"
            class="form-control"
            name="name"
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
            [(ngModel)]="employee.name"
          />
          <small
            class="invalid-feedback"
            [class.d-none]="name.valid || name.untouched"
          >
            Name is required</small
          >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            class="form-control"
            name="email"
            #email="ngModel"
            email
            [required]="contactPreference.value == 'Email'"
            [class.is-invalid]="email.invalid"
            [(ngModel)]="employee.email"
          />
          <div class="text-danger" *ngIf="email.errors">
            <small *ngIf="email.errors['required']">Email is required</small>
            <small *ngIf="email.errors['email']"> Email is Invalid </small>
          </div>
        </div>

        <div class="form-group">
          <label for="ph">Phone Number</label>
          <input
            id="ph"
            type="tel"
            [required]="contactPreference.value == 'Phone'"
            pattern="^\d{10}$"
            [class.is-invalid]="phone.invalid"
            #phone="ngModel"
            class="form-control"
            name="phone"
            [(ngModel)]="employee.phone"
          />
          <div class="text-danger" *ngIf="phone.errors">
            <small *ngIf="phone.errors['required']"
              >Mobile Number is required
            </small>
            <small *ngIf="phone.errors['pattern']">
              Invalid Mobile Number
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline mr-1">
              <input
                type="radio"
                required
                #contactPreference="ngModel"
                name="contactPreference"
                value="Email"
                [(ngModel)]="employee.contactPreference"
              />
              Email
            </label>
            <label class="radio-inline">
              <input
                required
                #contactPreference="ngModel"
                type="radio"
                name="contactPreference"
                value="Phone"
                [(ngModel)]="employee.contactPreference"
              />
              Phone
            </label>
          </div>
          <small
            class="text-danger"
            [class.d-none]="
              contactPreference.valid || contactPreference.untouched
            "
          >
            Contact Preference is required
          </small>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline mr-1">
              <input
                type="radio"
                required
                #gender="ngModel"
                name="gender"
                value="Male"
                [(ngModel)]="employee.gender"
              />
              Male
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                required
                #gender="ngModel"
                name="gender"
                value="Female"
                [(ngModel)]="employee.gender"
              />
              Female
            </label>
          </div>
          <small
            class="text-danger"
            [class.d-none]="gender.valid || gender.untouched"
          >
            Gender is required
          </small>
        </div>

        <div class="form-group">
          <div class="form-control">
            <label class="checkbox-inline">
              <input
                type="checkbox"
                name="isActive"
                [(ngModel)]="employee.isActive"
              />
              IsActive
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="department">Department</label>
          <select
            id="department"
            appSelectRequiredValidator="select"
            #department="ngModel"
            [class.is-invalid]="department.touched && department.invalid"
            name="department"
            [(ngModel)]="employee.department"
            class="form-control"
          >
            <option value="select">Select Department</option>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
          <small
            class="text-danger"
            [class.d-none]="department.untouched || department.valid"
            >Department is required</small
          >
        </div>

        <div class="form-group form-row">
          <label for="dateOfBirth">Date of Birth</label>
          <input
            id="dateOfBirth"
            #dateOfBirth="ngModel"
            name="dateOfBirth"
            [(ngModel)]="employee.dateOfBirth"
            class="form-control"
            type="text"
            bsDatepicker
            [bsConfig]="datePickerConfig"
            placement="top"
            required
          />
          <small
            class="text-danger"
            [class.d-none]="dateOfBirth.untouched || dateOfBirth.valid"
          >
            Date is required
          </small>
        </div>

        <div class="form-group form-row">
          <label for="file" class="col-md-2"> Choose File </label>
          <input
            type="file"
            id="file"
            name="file"
            file="#ngModel"
            (change)="handleFileInput($event.target.files)"
          />
        </div>
        <div class="form-group image-preview" *ngIf="previewPhoto">
          <img [src]="previewPhoto" alt="" />
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" [disabled]="employeeForm.invalid">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
