<div class="accordion">
  <div class="card">
    <div class="card-header p-0">
      <button
        class="btn btn-light btn-block text-left"
        data-toggle="collapse"
        aria-expanded="false"
        (click)="isCollapsed = !isCollapsed"
      >
        <i *ngIf="!isCollapsed" class="fa fa-arrow-down" aria-hidden="true"></i>
        <i *ngIf="isCollapsed" class="fa fa-arrow-up" aria-hidden="true"></i>
        Continents
      </button>
    </div>
    <div class="collapse" [ngClass]="{ show: isCollapsed }">
      <div class="card-body">
        <form>
          <div class="form-group">
            <div
              *ngFor="let TourismCost of TourismCosts$ | async"
              class="form-check-inline"
            >
              <label class="form-check-label">
                <input
                  type="radio"
                  class="form-check-input"
                  name="prices"
                  (change)="filterPrices(TourismCost.price)"
                />{{ TourismCost.name }}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
