<section>
  <header>
    <a href="" class="logo"><span style="color: #37d72f;">FIT</span>NESS</a>
    <div class="toggle">
      <img src="assets/toggle.png" alt="toggle" />
    </div>
  </header>
  <div class="banner">
    <video src="assets/bg.mp4" autoplay muted loop type="mp4"></video>
    <div class="textBox">
      <h2>More Than Fitness</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
        necessitatibus perspiciatis eaque magnam numquam dolor error ab, placeat
        eligendi nobis itaque officia nostrum fugiat adipisci, eum iure.
        Dolorum, inventore saepe.
      </p>
      <a href="">Read More</a>
    </div>
    <div class="imgBox">
      <img src="assets/John Cena.png" alt="man.png" />
    </div>
  </div>
  <ul class="sci">
    <li>
      <a><img src="assets/facebook.png" alt="" /></a>
    </li>
    <li>
      <a><img src="assets/instagram.png" alt="" /></a>
    </li>
    <li>
      <a><img src="assets/twitter.png" alt="" /></a>
    </li>
  </ul>
</section>
