<h3 class="text-center m-2">
  Angular + Node - Server Side Pagination Example
</h3>
<div class="loader" *ngIf="isFetching">
  <img src="assets/loader.svg" alt="loader.svg" />
</div>
<div class="table-responsive-md">
  <table class="table table-sm table-bordered" *ngIf="employees && !isFetching">
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Company</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.index + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.company.email }}</td>
        <td>{{ employee.company.title }}</td>
        <td>{{ employee.company.location.country }}</td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul *ngIf="pager['pages']?.length" class="pagination justify-content-center">
    <li [ngClass]="{ disabled: pager['currentPage'] === 1 }" class="page-item">
      <a class="page-link" routerLink="./" [queryParams]="{ page: 1 }">First</a>
    </li>
    <li [ngClass]="{ disabled: pager['currentPage'] <= 5 }" class="page-item">
      <a
        class="page-link"
        routerLink="./"
        [queryParams]="{ page: pager['currentPage'] - 5 }"
      >
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li
      *ngFor="let page of pager['pages']"
      [ngClass]="{ active: pager['currentPage'] === page }"
      class="page-item number-item"
    >
      <a routerLink="./" [queryParams]="{ page: page }" class="page-link">{{
        page
      }}</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ disabled: pager['currentPage'] >= pager['totalPages'] }"
    >
      <a
        class="page-link"
        routerLink="./"
        [queryParams]="{ page: pager['currentPage'] + 5 }"
      >
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li
      [ngClass]="{ disabled: pager['currentPage'] === pager['totalPages'] }"
      class="page-item last-item"
    >
      <a
        class="page-link"
        routerLink="./"
        [queryParams]="{ page: pager['totalPages'] }"
        >Last</a
      >
    </li>
  </ul>
</nav>
